<%= form_for @booking, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :customer, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :customer_id, Customer.find(:all), :id, :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tour, :class => 'control-label' %>
    <div class="controls">
      <!-- change to find only non-cancelled. Use scope? -->
      <%= f.collection_select :tour_id, 
                              Tour.find(:all), 
                              :id, :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :seats, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :seats, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :status, Booking::STATUS_TYPES, {prompt: true} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :payment_status, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :payment_status, Booking::PAYMENT_STATUS_TYPES, { prompt: true } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cc_reference, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cc_reference, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amount_payed, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount_payed, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bookings_path, :class => 'btn' %>
  </div>
<% end %>
