<%- model_class = Booking -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:customer) %>:</strong></dt>
  <dd><%= @booking.customer.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tour) %>:</strong></dt>
  <dd><%= @booking.tour.name %></dd>
  <dt><strong>Tour date:</strong></dt>
  <dd><%= @booking.tour.start_time.strftime(DATE_FORMAT) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:seats) %>:</strong></dt>
  <dd><%= @booking.seats %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= Booking::get_status_name @booking.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment_status) %>:</strong></dt>
  <dd><%= Booking::get_payment_status_name @booking.payment_status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cc_reference) %>:</strong></dt>
  <dd><%= @booking.cc_reference %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amount_paid) %>:</strong></dt>
  <dd><%= @booking.amount_paid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cc) %>:</strong></dt>
  <dd><%= @booking.cc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ccv) %>:</strong></dt>
  <dd><%= @booking.ccv %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cc_name) %>:</strong></dt>
  <dd><%= @booking.cc_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cc_exp_date) %>:</strong></dt>
  <dd><%= @booking.cc_exp_date %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              bookings_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_booking_path(@booking), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              booking_path(@booking),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
