<%- model_class = Tour -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>



<%= form_tag(tours_path, method: 'get', class: "form-inline" ) do |f| %>
    
    <div class="datetimepicker2 input-append date">
      <%= label_tag :start_date, 'Start Date'%>
      <%= text_field_tag :start_date, params[:start_date],'data-format' => HTML_DATE_FORMAT %>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>
  
  
    
    <div class="datetimepicker2 input-append date">
      <%= label_tag :end_date, 'End Date' %>
      <%= text_field_tag :end_date, params[:end_date], 'data-format' => HTML_DATE_FORMAT %>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>
  
  <button class="btn"><i class="icon-search"></i> Search</button>
<% end %>


<% @tours.each do |tour| %>
  <%= render 'tour_listing', tour: tour %>
<% end %>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_tour_path,
            :class => 'btn btn-primary' %>
